<%- include('../partials/head', {title: 'Admin Dashboard' }) %>
    <%- include('../partials/nav') %>

        

        <div>
            <p>Welcome, <%= user.first_name %>
                    <%= user.surname %>!</p>
            <p>Your role: <%= user.role %>
            </p>
        </div>

        <div>

            <p>Admin Registry - Dashboard</p>

        </div>

        <%- include('../partials/footer') %>