<%- include('../partials/head', { title: 'Officers' }) %>
    <%- include('../partials/nav') %>

        <div class="container-fluid mt-4 px-4 officer-list">

            <div class="d-flex justify-content-between align-items-center mb-4">

                <a href="/admin/dashboard" class="btn btn-secondary mb-3">Back to Dashboard</a>
                <h1>Officers</h1>

            </div>

            <a href="/admin/officers/new" class="btn btn-primary mb-2">Add Officer</a>
            <div class="table-responsive">
                <table class="table table-hover officerTable">
                    <thead>
                        <tr>
                            <th>Email</th>
                            <th>First Name</th>
                            <th>Surname</th>
                            <th>Is Active</th>
                            <th>Created At</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% officers.forEach(officer=> { %>
                            <tr>
                                <td>
                                    <%= officer.email %>
                                </td>
                                <td>
                                    <%= officer.first_name %>
                                </td>
                                <td>
                                    <%= officer.surname %>
                                </td>
                                <td>
                                    <% if (officer.is_active) { %> Yes <% } else { %> No <% } %>
                                </td>
                                <td>
                                    <%= new Date(officer.created_at).toLocaleDateString('en-GB') %>
                                </td>
                                <td>
                                    <a href="/admin/officers/<%= officer.id %>/edit"
                                        class="btn btn-sm btn-primary">Edit</a>
                                </td>
                            </tr>
                            <% }); %>
                    </tbody>
                </table>
            </div>

        </div>

        <%- include('../partials/footer') %>