<%- include('../partials/head', {title: 'Officer Dashboard' }) %>
    <%- include('../partials/nav') %>

        <% if (error) { %>
            <div class="alert alert-warning">
                <%= error %>
            </div>
            <% } %>

                        <div class="container-fluid mt-4 px-4 dash-content">

                            <% if (programme) { %>


                                <h3 class="dash-title">Dashboard - <%= programme.title %>
                                </h3>

                                <div class="row">
                                    <% if (stats) { %>

                                        <div class="col-12 col-lg-6 dash-stats">
                                            <div class="col-6 stats-col">
                                                <div class="card stats-card">
                                                    <div class="card-body">
                                                        <h6 class="card-title">Students</h6>
                                                        <h2 class="card-text">
                                                            <%= stats.totalStudents %>
                                                        </h2>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6 stats-col">
                                                <div class="card stats-card">
                                                    <div class="card-body">
                                                        <h6 class="card-title">Confirmed Classifications</h6>
                                                        <h2 class="card-text">
                                                            <%= stats.totalConfirmedClassifications %>
                                                        </h2>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6 stats-col">
                                                <div class="card stats-card">
                                                    <div class="card-body">
                                                        <h6 class="card-title">Pending Confirmation</h6>
                                                        <h2 class="card-text">
                                                            <%= stats.pendingReviewClassifications %>
                                                        </h2>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6 stats-col">
                                                <div class="card stats-card">
                                                    <div class="card-body">
                                                        <h6 class="card-title">Pending Classifications</h6>
                                                        <h2 class="card-text">
                                                            <%= stats.totalPendingClassifications %>
                                                        </h2>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <% } %>
                                            <div class="col-12 col-lg-6 dash-chart">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <div class="card-title">Classification Distribution</div>
                                                        <div class="card-text">
                                                            <p>This chart shows the distribution of classifications
                                                                for students in this programme.</p>
                                                            <canvas id="classificationChart"></canvas>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <% } %>
                                </div>
                        </div>



                <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                <script>
                    const distributionData = <%- JSON.stringify([
                        stats.distribution['1st'],
                        stats.distribution['2:1'],
                        stats.distribution['2:2'],
                        stats.distribution['3rd'],
                        stats.distribution['fail'],
                        stats.distribution['ineligible']
                    ]); %>;

                    const ctx = document.getElementById('classificationChart').getContext('2d');
                    new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: ['1st', '2:1', '2:2', '3rd', 'Fail', 'Ineligible'],
                            datasets: [{
                                label: 'Students',
                                data: distributionData,
                                backgroundColor: [
                                    '#bfa5a3',
                                    'rgb(39, 41, 109)',
                                    '#787586',
                                    '#484554',
                                    '#ada9bb',
                                    '#484554'
                                ]
                            }]
                        },
                        options: {
                            indexAxis: 'y',
                            layout: {

                            },
                            responsive: true,
                            aspectRatio: 2,
                            plugins: {
                                legend: {
                                    display: true,
                                    labels: {
                                        color: 'rgb(39, 41, 109)',
                                        font: {
                                            size: '12%',
                                            weight: 'bold'
                                        }
                                    }
                                },
                                title: { display: true, text: 'Student Classification Distribution', color: 'rgb(0,0,0)' }
                            },
                            scales: {
                                y: { beginAtZero: true, ticks: { stepSize: 1 } }
                            }
                        }
                    });
                </script>

                <%- include('../partials/footer') %>